services:
  tdeck:
    build: .
    image: tdeck:latest
    container_name: tdeck
    restart: unless-stopped

    ports:
      - "5000:5000"

    volumes:
      - myapp_data:/data

    environment:
      - TZ=Australia/Brisbane

volumes:
  myapp_data:
