{% extends 'base.html' %}

{% set page_title = 'Config' %}
{% set page_subtitle = 'Connections, integrations and TDeck system settings' %}
{% set config_active_tab = 'web-ui' %}

{% block page_actions %}
	<button id="config-save" class="btn btn-primary">Save Changes</button>
{% endblock %}

{% block content %}
<div id="config-page">
	{% include '_config_tabs.html' %}
	<div id="config-status" class="mb-3"></div>
	<div id="config-panels" class="config-settings-panels"></div>
</div>
{% endblock %}
