{% extends 'base.html' %}

{% set page_title = 'Config' %}

{% block page_actions %}
		<a class="btn btn-outline-secondary" href="/config/digico">DiGiCo Mixer</a>
		<a class="btn btn-outline-secondary" href="/config/companion-surfaces">Companion Surfaces</a>
		<button id="config-save" class="btn btn-primary">Save</button>
{% endblock %}

{% block content %}
<div id="config-page">
	<div class="d-flex flex-wrap justify-content-end gap-2 mb-3">
		<a class="btn btn-outline-secondary" href="/config/export">Export Config</a>
		<a class="btn btn-outline-secondary" href="/config/import">Import Config</a>
	</div>
	<div id="config-status" class="mb-3"></div>

	<div class="row g-3">
		<div class="col-12 col-md-3">
			<div id="config-nav" class="list-group sticky-top" style="top: 1rem;"></div>
		</div>
		<div class="col-12 col-md-9">
			<div id="config-panels"></div>
		</div>
	</div>
</div>
{% endblock %}
