{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h1>Home</h1>
      <p>Welcome to the Calendar UI. Use the links in the nav to manage events, timers, and settings.</p>

      <div class="list-group">
        <a href="/calendar" class="list-group-item list-group-item-action">Calendar</a>
        <a href="/timers" class="list-group-item list-group-item-action">Timers</a>
        <a href="/console" class="list-group-item list-group-item-action">Console</a>
        <a href="/config" class="list-group-item list-group-item-action">Config</a>

      </div>
    </div>
    <div class="col-md-4">
      <h5>Quick Status</h5>
      <ul class="list-group">
        <li class="list-group-item">Events file: <strong>{{ events_file or 'events.json' }}</strong></li>
        <li class="list-group-item">Companion IP: <strong>{{ companion_ip or '127.0.0.1' }}</strong></li>
        <li class="list-group-item">
          Running apps:
          <strong>
            {% if running_apps and running_apps|length > 0 %}
              {{ running_apps|join(', ') }}
            {% else %}
              None
            {% endif %}
          </strong>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
